{% extends 'base.html' %}

{% block content %}



<h2 style="text-align: center;"> What is this website about? </h2>
<p> this website deals with the problem of structuring your data properly. The purpose for this might be differ to the users problem.
    For example saving, managing and structuring your materials in a digital way for university, school or even something different.
    When saving it on this website you are able to access it from everywhere and work with it easily.
    As the website is still under construction many features are currently not available but will be added soon.
    To learn more about it and how to properly use it you can go the <a href ="">help</a> section.</p>
<h2 style="text-align: center;"> Something about myself </h2>
<p> My name is Moritz and I started developing this site because many people had the problem I mentioned above (including myself).
    This website is part of my applicaton for Code university in Berlin.</p>

{% endblock %}
