{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>

  </head>
  <body>


      <ul class = "navbar">
        <li class = "navbar_element"><a href="/home">Home</a></li>
          <li class = "navbar_element"><a href="/projects">Projects</a></li>
        <li class = "navbar_element"><a href="/contact">Contact</a></li>
        <li class = "navbar_element"><a href="/about">About</a></li>
        <li class = "navbar_element"><a href="/logout">Logout</a></li>
      </ul>
      <div class="divider">
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
