{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/project_detail_style.css' %}"/>


{% endblock %}


{% block content %}

  <form method="post" id="edit_project">
      {% csrf_token %}
      {{ form.as_p }}
      <p class='project_name' id="{{project.id}}" hidden></p>
    <div>
      account:<br>
      <input type="text" id="id_account">
      {% for acc in acc_list %}
        <input type="hidden" id={{acc}} name="accounts" value={{acc}}>
      {% endfor %}
        <ul class="accounts">
          {% for acc in acc_list %}
            <li class="account" id="acc">{{acc}}</li>
          {% endfor %}
        </ul>
        <button class="add_button" onclick="add_account()" type="button" id="id_add_acc"> add </button>
    </div>

    <input type="submit" value="save"/>

    {% csrf_token %}

    <ul class="project_elements">

      {% for folder in folder_list %}
        <div class="folder" id="{{folder.id}}_expand">
          <input type="checkbox" name="folder" value="{{folder.id}}">
          <div id="{{folder.id}}" class="expand">+</div>
          <li>{{folder}}</li>
        </div>
      {% endfor %}

      {% for element in element_list %}
        <div class="element">
          <input type="checkbox" name="element" value="{{element.id}}">
          <li class="project_element" id="{{element.id}}">{{element}}</li>
        </div>
      {% endfor %}

    </ul>

    <input type="submit" value="delete" id="delete" name="delete" disabled/>
    <input type="submit" value="edit" id="edit" name="edit" disabled/>
  </form>


{% endblock %}
