{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_detail_style.css' %}"/>
{% endblock %}



{% block content %}
<h2 class='project_name' id="{{project.id}}">{{ project }} </h2>
<p>Description: {{ project.description }} </p>
<P>Elements: </p>

  {% for fol,structure in folder|tree_info %}
      {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
          {{ fol.name }}
          {% for ele in elements %}
              {% if fol == ele.parent %}
              <li class='project_element' id='{{ele.id}}'> {{ele}} </li>
              {% endif %}

          {% endfor %}
      {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% endfor %}
{%for ele in elements %}
{% if ele.parent is null %}
<li class='project_element' id='{{ele.id}}'> {{ele}} </li>
{% endif %}
{% endfor%}

<a href='/projects/{{project.id}}/edit'> edit </a>
<a href=''> delete </a>
<a href='/projects/{{project.id}}/elements/new_element/element'> add element</a>
<a href='/projects/{{project.id}}/elements/new_element/folder' id="folder"> add folder</a>

<embed src="" class="pdf_field" width="500" height="375" type='application/pdf'>
{% endblock %}
