{% extends 'base.html' %}

{% load mptt_tags %}


{% block content %}

<a href='/projects/{{project.id}}/edit'> edit </a>

<p class='project' id="{{project.id}}">Name: {{ project }} </p>
<p>Description: {{ project.description }} </p>
<P>Elements: </p>

  {% for fol,structure in folder|tree_info %}
      {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
          {{ fol.name }}
          {% for ele in elements %}
              {% if fol == ele.parent %}
              <li class='project_element' id='{{ele.id}}'> {{ele}} </li>
              {% endif %}

          {% endfor %}
      {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% endfor %}
{%for ele in elements %}
{% if ele.parent is null %}
<li class='project_element' id='{{ele.id}}'> {{ele}} </li>
{% endif %}
{% endfor%}


<a href='/projects/{{project.id}}/elements/new_element/element'> add element</a>
<a href='/projects/{{project.id}}/elements/new_element/folder' id="folder"> add folder</a>
{% endblock %}
