
body {
  font-family: Sans-serif;
}

.navbar {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  background-color: #4f5060;
}

.navbar_element a {
  overflow: hidden;
  color: #aeafc1;
  display: block;
  text-decoration: none;
  padding: 8px 0 8px 0;
}

.navbar a:hover {
  background-color: #393c77;
}

.welcome {
  width: 85%;
  text-align: center;
}

.divider {
  position: absolute;
  left: 10%;
  margin: 0;
}


.username {
  display: none;
  color: red;
}


p a {
  text-decoration: none;
  color: black;
}
