
body {

}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  background-color: #4f5060;
}

.navbar_element a {
  font-family: Sans-serif;
  color: #aeafc1;
  display: block;
  text-decoration: none;
  padding: 8px 0 8px 0;
}

.navbar a:hover {
  background-color: #393c77;
}

.welcome {
  font-size: 32px;
  text-align: center;
}

.new {
  background-color: lightblue;
}

.element {
  position: relative;

  margin: 0;
}

.divider {
  position: relative;
  left: 15%;
  margin: 0;
}

.projects {
  list-style-type: none;
}

.projects a {
  text-decoration: none;
}

p a {
  text-decoration: none;
  color: black;
}


input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input[type=checkbox]:checked ~ ul {
   display: none;
}
